<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CSDLNC_N08.Properties.Settings.CSDLNCConnectionString"
            connectionString="Data Source=ICEBEAR-PC\YENNGOCC;Initial Catalog=CSDLNC;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>